@import "compass";
@import "_normalize";

body {
  padding: 0 1%;
  background: #eee;
  color: #444;
}


.entry {
  display: block;
  padding: 15px;
  background: transparentize(#3B5998, 0.9);
  color: #444;
  margin: 15px 0;
  @include border-radius(3px);
  h1 {
    margin: 0 0 1em;
  }
  li {
    list-style-type: none;
  }
}

@import "_tools";
